@font-face {
    font-family: 'Arita-dotum-Medium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Arita-dotum-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'SF_HambakSnow';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2106@1.1/SF_HambakSnow.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Eulyoo1945-SemiBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2102-01@1.0/Eulyoo1945-SemiBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body{
    background-image : url("images/한지.png");
    background-size : cover;
    text-align: center;
    font-family: 'Eulyoo1945-SemiBold';
}


#header h1 a{
    text-decoration: none;
    font-size : 150%;
    color: #006400;
    font-family: 'SF_HambakSnow';
}

#navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color : rgb(145, 182, 151);
    font-family: 'SF_HambakSnow';
}
#navigation ul:after{
    content:'';
    display: block;
    clear:both;
}
#navigation li {
    display: inline-block;
}
#navigation li a {
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 110%;
    transition-property: background-color;
    transition-duration: 1s;
    transition-timing-function: ease-out;
}
#navigation li a:hover:not(.active) {
    background: rgb(80, 119, 86);
    transition: background 1s ease-out;
}

#footer {
    background-color: rgb(145, 182, 151);
    color: white;
    font-size: 70%;
    float:inline-end;
    font-family: 'Nanum Gothic', sans-serif;
}

#footer a{
    color:rgb(145, 182, 151);
}

#map{
    float:right;
    margin-right: 60px;
}

.spacer{
    clear: right;
}

.mover{
    clear: left;
}

video{
    float:left;
    margin-left: 60px;
}

.way{
    float:center;
}

h3 .way{
    color : rgb(145, 182, 151);
}

a {
    text-decoration: none;
}

#contents #intro{
    float:left;
    margin-left: 90px;
    border-radius: 20px;
}

#contents #name{
    font-size: 250%;
    color: #006400;
    margin-left: 680px;
    text-align: left;
}

#contents #spec{
    margin-left: 680px;
    text-align: left;
    color : #006400bd;
    font-size: 130%;
}

#contents #greet{
    margin-left: 680px;
    margin-right: 90px;
    text-align: left;
}

#contents #info, #time{
    text-align:left;
    margin-left: 720px;
}

#lolo{
    float:left;
    margin-left: 270px;
    border-radius: 20px;
}

.ttl{
    font-size: 150%;
    color: #006400;
    text-align:left;
    margin-left: 720px;
}

#mainpic{
    float: left;
    margin-left: 90px;
    border-radius: 20px;
}

.maingreet{
    text-align: left;
    margin-left: 850px;
    margin-right:80px;
}

.semititle{
    text-align: left;
    margin-left: 850px;
    margin-right:80px;
    color : rgb(80, 119, 86);
}

.semititle2{
    color : rgb(80, 119, 86);
}
/*
.grid-image {
    display:flex;
    flex-wrap:wrap;
    align-items:flex-start;
    margin:10px 0;
    margin-right : 0;
}
.grid-image img {
    width:calc((33.333% - 10px)/3);
    margin:10px 10px 10px 10px;
    transition-duration: 1s;
}

.grid-image img:hover {
    filter: brightness(70%);
    transition: filter 1s;
    transition: filter 1s ease-out;
}
*/
.grid-image {
    display:flex;
    flex-wrap:wrap;
    align-items:flex-start;
    margin:10px 0;
    margin-right : 0;

    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transition: all 0.3s ease-in-out;
    overflow : hidden;
}



.grid-image img {
    width:calc((33.333% - 10px)/3);
    margin:10px 10px 10px 10px;
    transition-duration: 1s;
    overflow:hidden;
    transform :scale(1);
    transition:transform 0.5s linear;    
}



.grid-image:hover img {
    filter: brightness(70%);
    transition: filter 1s;
    transition: filter 1s ease-out;

    transform: scale(2.0);
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
   
    
}


@media screen and (max-width:640px){
.grid-image img {
    width:calc(50% - 15px);
  }
}
@media screen and (max-width:480px){
 .grid-image img:nth-of-type(2n) {
    margin-right:10px;
  }
.grid-image img:nth-of-type(3n) {
    margin-right:10px;
  }
}

#tel{
    color: #27aa27;
}
/*공지 사항 게시판*/
@media (max-width: 1000px) {
    .board_wrap {
        width: 100%;
        min-width: 320px;
        padding: 0 30px;
        box-sizing: border-box;
    }

    .board_list .num,
    .board_list .writer,
    .board_list .count {
        display: none;
    }

    .board_list .date {
        width: 40%;
    }

    .board_list .title {
        text-indent: 10px;
    }

    .board_list .top .title {
        text-indent: 0;
    }

    .board_page a {
        width: 26px;
        height: 26px;
    }

    .board_page a.bt {
        padding-top: 7px;
    }
    
    .board_page a.num {
        padding-top: 6px;
    }

    .board_view .info dl {
        width: 50%;
        padding: 0;
    }

    .board_view .info dl:nth-child(-n+2) {
        margin-bottom: 5px;
    }

    .board_view .info dl::before {
        display: none;
    }

    .board_view .info dl dt,
    .board_view .info dl dd {
        font-size: 1.2rem;
    }

    .board_write .info dl {
        width: 49%;
    }

    .board_write .info dl:first-child {
        margin-right: 2%;
    }

    .board_write .title dt,
    .board_write .info dt {
        display: none;
    }

    .board_write .title dd,
    .board_write .info dd {
        width: 100%;
    }

    .board_write .title input[type="text"],
    .board_write .info input[type="text"],
    .board_write .info input[type="password"] {
        width: 100%;
    }
}

.board_wrap {
    width: 1000px;
    margin: 100px auto;
    font-size: 10px;
}


.bt_wrap {
    margin-top: 30px;
    text-align: center;
    font-size: 0;
}

.bt_wrap a {
    display: inline-block;
    min-width: 80px;
    margin-left: 10px;
    padding: 10px;
    border: 1px solid #006400;
    border-radius: 2px;
    font-size: 1.0rem;
}

.bt_wrap a:first-child {
    margin-left: 0;
}

.bt_wrap a.on {
    background: #006400;
    color: #fff;
}

.board_list {
    width: 100%;
    border-top: 2px solid #006400;
}

.board_list > div {
    border-bottom: 1px solid #ddd;
    font-size: 0;
}

.board_list > div.top {
    border-bottom: 1px solid #999;
}

.board_list > div:last-child {
    border-bottom: 1px solid #006400;
}

.board_list > div > div {
    display: inline-block;
    padding: 15px 0;
    text-align: center;
    font-size: 1.0rem;
}

.board_list > div.top > div {
    font-weight: 600;
}

.board_list .num {
    width: 10%;
}

.board_list .title {
    width: 60%;
    text-align: left;
}

.board_list .top .title {
    text-align: center;
}

.board_list .writer {
    width: 10%;
}

.board_list .date {
    width: 10%;
}

.board_list .count {
    width: 10%;
}

.board_page {
    margin-top: 30px;
    text-align: center;
    font-size: 0;
}

.board_page a {
    display: inline-block;
    width: 32px;
    height: 32px;
    box-sizing: border-box;
    vertical-align: middle;
    border: 1px solid #ddd;
    border-left: 0;
    line-height: 100%;
}

.board_page a.bt {
    padding-top: 10px;
    font-size: 1.0rem;
    letter-spacing: -1px;
}

.board_page a.num {
    padding-top: 9px;
    font-size: 1.0rem;
}

.board_page a.num.on {
    border-color: #006400;
    background: #006400;
    color: #fff;
}

.board_page a:first-child {
    border-left: 1px solid #ddd;
}

.board_view {
    width: 100%;
    border-top: 2px solid #006400;
}

.board_view .title {
    padding: 20px 15px;
    border-bottom: 1px dashed #ddd;
    font-size: 1.0rem;
}

.board_view .info {
    padding: 15px;
    border-bottom: 1px solid #999;
    font-size: 0;
}

.board_view .info dl {
    position: relative;
    display: inline-block;
    padding: 0 20px;
}

.board_view .info dl:first-child {
    padding-left: 0;
}

.board_view .info dl::before {
    content: "";
    position: absolute;
    top: 1px;
    left: 0;
    display: block;
    width: 1px;
    height: 13px;
    background: #ddd;
}

.board_view .info dl:first-child::before {
    display: none;
}

.board_view .info dl dt,
.board_view .info dl dd {
    display: inline-block;
    font-size: 1.0rem;
}

.board_view .info dl dd {
    margin-left: 10px;
    color: #777;
}

.board_view .cont {
    padding: 15px;
    border-bottom: 1px solid #006400;
    line-height: 160%;
    font-size: 1.0rem;
}

.board_write {
    border-top: 2px solid #006400;
}

.board_write .title,
.board_write .info {
    padding: 15px;
}

.board_write .info {
    border-top: 1px dashed #ddd;
    border-bottom: 1px solid #006400;
    font-size: 0;
}

.board_write .title dl {
    font-size: 0;
}

.board_write .info dl {
    display: inline-block;
    width: 50%;
    vertical-align: middle;
}

.board_write .title dt,
.board_write .title dd,
.board_write .info dt,
.board_write .info dd {
    display: inline-block;
    vertical-align: middle;
    font-size: 1.0rem;
}

.board_write .title dt,
.board_write .info dt {
    width: 100px;
}

.board_write .title dd {
    width: calc(100% - 100px);
}

.board_write .title input[type="text"],
.board_write .info input[type="text"],
.board_write .info input[type="password"] {
    padding: 10px;
    box-sizing: border-box;
}

.board_write .title input[type="text"] {
    width: 80%;
}

.board_write .cont {
    border-bottom: 1px solid #006400;
}

.board_write .cont textarea {
    display: block;
    width: 100%;
    height: 300px;
    padding: 15px;
    box-sizing: border-box;
    border: 0;
    resize: vertical;
}

.board_wrap h2 {
    font-size: 1.5rem;
}
/*공지사항 게시판 끝*/